body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1298px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:1276px;
  background:inherit;
  background-color:rgba(243, 247, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1824 {
  position:absolute;
  left:-3px;
  top:0px;
  width:1303px;
  height:1276px;
}
#u1825 {
  position:absolute;
  left:2px;
  top:630px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
}
#u1827 {
  position:absolute;
  left:2px;
  top:14px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1828 {
  position:absolute;
  left:99px;
  top:13px;
  width:157px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1830 {
  position:absolute;
  left:260px;
  top:13px;
  width:13px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1831 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u1832 {
  position:absolute;
  left:277px;
  top:13px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u1833 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:13px;
}
#u1834 {
  position:absolute;
  left:307px;
  top:16px;
  width:1px;
  height:12px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u1836 {
  position:absolute;
  left:315px;
  top:13px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u1837 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1839 {
  position:absolute;
  left:99px;
  top:106px;
  width:80px;
  height:80px;
  font-size:20px;
  color:#FFFFFF;
}
#u1840 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1841 {
  position:absolute;
  left:202px;
  top:124px;
  width:257px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1843 {
  position:absolute;
  left:99px;
  top:106px;
  width:80px;
  height:80px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1845 {
  position:absolute;
  left:1070px;
  top:80px;
  width:128px;
  height:128px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1847 {
  position:absolute;
  left:99px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1848 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1849 {
  position:absolute;
  left:222px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1850 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1851 {
  position:absolute;
  left:344px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1852 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1853 {
  position:absolute;
  left:466px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1854 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1855 {
  position:absolute;
  left:588px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1856 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1857 {
  position:absolute;
  left:710px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1858 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1859 {
  position:absolute;
  left:832px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1860 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1861 {
  position:absolute;
  left:954px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1862 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u1863 {
  position:absolute;
  left:1077px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u1864 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:170px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1866 {
  position:absolute;
  left:1px;
  top:1106px;
  width:1300px;
  height:170px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:70px;
  width:1296px;
  word-wrap:break-word;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1868 {
  position:absolute;
  left:466px;
  top:1127px;
  width:409px;
  height:128px;
  color:#FFFFFF;
  text-align:center;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  white-space:nowrap;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1870 {
  position:absolute;
  left:1089px;
  top:218px;
  width:90px;
  height:36px;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1872 {
  position:absolute;
  left:409px;
  top:344px;
  width:789px;
  height:736px;
}
#u1873 {
  position:absolute;
  left:2px;
  top:360px;
  width:785px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1874 {
  position:absolute;
  left:99px;
  top:344px;
  width:300px;
  height:736px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1875 {
  position:absolute;
  left:2px;
  top:360px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:76px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1876 {
  position:absolute;
  left:101px;
  top:347px;
  width:296px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1877 {
  position:absolute;
  left:2px;
  top:29px;
  width:292px;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:76px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1878 {
  position:absolute;
  left:101px;
  top:433px;
  width:296px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1879 {
  position:absolute;
  left:2px;
  top:29px;
  width:292px;
  word-wrap:break-word;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:76px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1880 {
  position:absolute;
  left:101px;
  top:519px;
  width:296px;
  height:76px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:29px;
  width:292px;
  word-wrap:break-word;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1883 {
  position:absolute;
  left:416px;
  top:357px;
  width:775px;
  height:73px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:28px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1885 {
  position:absolute;
  left:433px;
  top:365px;
  width:457px;
  height:25px;
  font-size:18px;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1887 {
  position:absolute;
  left:433px;
  top:403px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1889 {
  position:absolute;
  left:523px;
  top:403px;
  width:75px;
  height:16px;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  position:absolute;
  left:416px;
  top:440px;
  width:775px;
  height:73px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:28px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1894 {
  position:absolute;
  left:433px;
  top:448px;
  width:457px;
  height:25px;
  font-size:18px;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1896 {
  position:absolute;
  left:433px;
  top:486px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1898 {
  position:absolute;
  left:523px;
  top:486px;
  width:75px;
  height:16px;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1901 {
  position:absolute;
  left:416px;
  top:523px;
  width:775px;
  height:73px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:28px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1903 {
  position:absolute;
  left:433px;
  top:531px;
  width:457px;
  height:25px;
  font-size:18px;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1905 {
  position:absolute;
  left:433px;
  top:569px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1907 {
  position:absolute;
  left:523px;
  top:569px;
  width:75px;
  height:16px;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1910 {
  position:absolute;
  left:416px;
  top:606px;
  width:775px;
  height:73px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:28px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1912 {
  position:absolute;
  left:433px;
  top:614px;
  width:457px;
  height:25px;
  font-size:18px;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1914 {
  position:absolute;
  left:433px;
  top:652px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1916 {
  position:absolute;
  left:523px;
  top:652px;
  width:75px;
  height:16px;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
