body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1747px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:1276px;
  background:inherit;
  background-color:rgba(243, 247, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2220 {
  position:absolute;
  left:-3px;
  top:0px;
  width:1303px;
  height:1276px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:630px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:14px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2224 {
  position:absolute;
  left:99px;
  top:13px;
  width:157px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2225 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2226 {
  position:absolute;
  left:260px;
  top:13px;
  width:13px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u2228 {
  position:absolute;
  left:277px;
  top:13px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u2229 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:13px;
}
#u2230 {
  position:absolute;
  left:307px;
  top:16px;
  width:1px;
  height:12px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u2232 {
  position:absolute;
  left:315px;
  top:13px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u2233 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u2235 {
  position:absolute;
  left:99px;
  top:106px;
  width:80px;
  height:80px;
  font-size:20px;
  color:#FFFFFF;
}
#u2236 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u2237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2237 {
  position:absolute;
  left:202px;
  top:124px;
  width:257px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2238 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u2239 {
  position:absolute;
  left:99px;
  top:106px;
  width:80px;
  height:80px;
}
#u2240 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2241 {
  position:absolute;
  left:99px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2242 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u2243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2243 {
  position:absolute;
  left:222px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2244 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u2245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2245 {
  position:absolute;
  left:344px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2246 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u2247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2247 {
  position:absolute;
  left:466px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2248 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2249 {
  position:absolute;
  left:588px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2250 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u2251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2251 {
  position:absolute;
  left:710px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2252 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u2253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2253 {
  position:absolute;
  left:832px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2254 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2255 {
  position:absolute;
  left:954px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2256 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u2257 {
  position:absolute;
  left:1077px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u2258 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u2259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:170px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2260 {
  position:absolute;
  left:1px;
  top:1106px;
  width:1300px;
  height:170px;
}
#u2261 {
  position:absolute;
  left:2px;
  top:70px;
  width:1296px;
  word-wrap:break-word;
}
#u2262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u2262 {
  position:absolute;
  left:466px;
  top:1127px;
  width:409px;
  height:128px;
  color:#FFFFFF;
  text-align:center;
}
#u2263 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  white-space:nowrap;
}
#u2264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2264 {
  position:absolute;
  left:409px;
  top:344px;
  width:789px;
  height:736px;
}
#u2265 {
  position:absolute;
  left:2px;
  top:360px;
  width:785px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2266 {
  position:absolute;
  left:99px;
  top:344px;
  width:300px;
  height:736px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2267 {
  position:absolute;
  left:2px;
  top:360px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:76px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2268 {
  position:absolute;
  left:101px;
  top:347px;
  width:296px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2269 {
  position:absolute;
  left:2px;
  top:29px;
  width:292px;
  word-wrap:break-word;
}
#u2270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:76px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2270 {
  position:absolute;
  left:101px;
  top:433px;
  width:296px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2271 {
  position:absolute;
  left:2px;
  top:29px;
  width:292px;
  word-wrap:break-word;
}
#u2272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2273 {
  position:absolute;
  left:416px;
  top:357px;
  width:775px;
  height:73px;
}
#u2274 {
  position:absolute;
  left:2px;
  top:28px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2275 {
  position:absolute;
  left:433px;
  top:365px;
  width:457px;
  height:25px;
  font-size:18px;
}
#u2276 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u2277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2277 {
  position:absolute;
  left:433px;
  top:403px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2279 {
  position:absolute;
  left:523px;
  top:403px;
  width:75px;
  height:16px;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2282 {
  position:absolute;
  left:416px;
  top:440px;
  width:775px;
  height:73px;
}
#u2283 {
  position:absolute;
  left:2px;
  top:28px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2284 {
  position:absolute;
  left:433px;
  top:448px;
  width:457px;
  height:25px;
  font-size:18px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u2286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2286 {
  position:absolute;
  left:433px;
  top:486px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2288 {
  position:absolute;
  left:523px;
  top:486px;
  width:75px;
  height:16px;
}
#u2289 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2291 {
  position:absolute;
  left:416px;
  top:523px;
  width:775px;
  height:73px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:28px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2293 {
  position:absolute;
  left:433px;
  top:531px;
  width:457px;
  height:25px;
  font-size:18px;
}
#u2294 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u2295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2295 {
  position:absolute;
  left:433px;
  top:569px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u2296 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2297 {
  position:absolute;
  left:523px;
  top:569px;
  width:75px;
  height:16px;
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2300 {
  position:absolute;
  left:416px;
  top:606px;
  width:775px;
  height:73px;
}
#u2301 {
  position:absolute;
  left:2px;
  top:28px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2302 {
  position:absolute;
  left:433px;
  top:614px;
  width:457px;
  height:25px;
  font-size:18px;
}
#u2303 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2304 {
  position:absolute;
  left:433px;
  top:652px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u2305 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2306 {
  position:absolute;
  left:523px;
  top:652px;
  width:75px;
  height:16px;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:150px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2308 {
  position:absolute;
  left:1330px;
  top:344px;
  width:420px;
  height:150px;
}
#u2309 {
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  word-wrap:break-word;
}
