body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:1309px;
  background:inherit;
  background-color:rgba(243, 247, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1867 {
  position:absolute;
  left:-3px;
  top:0px;
  width:1303px;
  height:1309px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:646px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:45px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:14px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1871 {
  position:absolute;
  left:99px;
  top:13px;
  width:157px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1873 {
  position:absolute;
  left:260px;
  top:13px;
  width:13px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u1875 {
  position:absolute;
  left:277px;
  top:13px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:13px;
}
#u1877 {
  position:absolute;
  left:307px;
  top:16px;
  width:1px;
  height:12px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u1879 {
  position:absolute;
  left:315px;
  top:13px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3300FF;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1882 {
  position:absolute;
  left:99px;
  top:106px;
  width:80px;
  height:80px;
  font-size:20px;
  color:#FFFFFF;
}
#u1883 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1884 {
  position:absolute;
  left:202px;
  top:124px;
  width:257px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u1886 {
  position:absolute;
  left:99px;
  top:106px;
  width:80px;
  height:80px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1888 {
  position:absolute;
  left:99px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1889 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1890 {
  position:absolute;
  left:222px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1891 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1892 {
  position:absolute;
  left:344px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1893 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1894 {
  position:absolute;
  left:466px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1895 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1896 {
  position:absolute;
  left:588px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1897 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u1898 {
  position:absolute;
  left:710px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u1899 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1900 {
  position:absolute;
  left:832px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1901 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1902 {
  position:absolute;
  left:954px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1903 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:70px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1904 {
  position:absolute;
  left:1077px;
  top:264px;
  width:123px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1905 {
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:170px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1907 {
  position:absolute;
  left:1px;
  top:1309px;
  width:1300px;
  height:170px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:70px;
  width:1296px;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1909 {
  position:absolute;
  left:469px;
  top:1330px;
  width:406px;
  height:128px;
  color:#FFFFFF;
  text-align:center;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  white-space:nowrap;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:794px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1911 {
  position:absolute;
  left:99px;
  top:344px;
  width:1101px;
  height:794px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:389px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1913 {
  position:absolute;
  left:458px;
  top:382px;
  width:383px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:648px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1915 {
  position:absolute;
  left:145px;
  top:446px;
  width:1034px;
  height:648px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  word-wrap:break-word;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:82px;
  background:inherit;
  background-color:rgba(84, 176, 241, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1917 {
  position:absolute;
  left:519px;
  top:1179px;
  width:265px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1918 {
  position:absolute;
  left:2px;
  top:32px;
  width:261px;
  word-wrap:break-word;
}
